<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<!--     <div id="app">
        {{message}}
        <input v-model="message">
    </div>
    <div id="app">
        <ul>
            <todo-item></todo-item>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ul>
    </div>-->
    <!-- Связываем через бинд значение свойства(идет после :) Vue с текстом в теге  -->
    <!-- <div id="componentexample">
        <todo-item1 
        v-for="item in todos"
        v-bind:todo="item"
        v-bind:key="item.id"
        ></todo-item1>
    </div> -->
    <div id="getExample">
        <button v-on:click="requestPersonalData">Запросить персональные данные</button>
        <p>{{firstName}}</p>
    </div>
    <script src="main.js"></script>
</body>
</html>