@page
@model ContosoUniversity.Pages.Courses.UpdateCourseCreditsPageModel

@{
    ViewData["Title"] = "Update Course Credits";
}

<h2>Update Course Credits</h2>

@if (Model.RowsAffected == 0)
{
    <form method="POST">
        <div class="form-actions no-color">
            <p>
                Enter a number to multiply every course's credits by: @Html.TextBox("multiplier")
            </p>
            <p>
                <input type="submit" value="Update" class="btn btn-default" />
            </p>
        </div>
    </form>
}
@if (Model.RowsAffected != 0)
{
    <p>
        Number of rows updated: @Model.RowsAffected
    </p>
}
<div>
    <a asp-page="./Index">Back To List</a>
</div>